.mfa-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  height: max-content;
  
    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
    .subtitle {
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 2rem;
      margin-top: -3%;
    }
    .inner-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      height: 90vh;
      width: 80vw;
      padding: 1rem;
    }
    .mfaInputContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem; // Additional space before the button
    }
    .submitButton {
      height: 3rem;
      font-size: 1.25rem;
      margin-top: 20px; // To push the button slightly below the input fields
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }